body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.calculator-screen {
    height: 40px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    margin-bottom: 20px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

button.operator {
    background-color: #FF9500;
    color: white;
}

button.equal-sign {
    background-color: #FF9500;
    color: white;
    grid-column: span 4;
}

button.all-clear {
    background-color: #ff3b30;
    color: white;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #bbb;
}

